= content_for :modal_header do
  Edit Content
= content_for :modal_body do
  #content_edit_form
  = bootstrap_form_for('content', url: content_url, method: 'put', remote: true) do |f|
    = f.hidden_field :content_user_id, id: "content_user_id", value: current_user.id
    = f.hidden_field :content_account_id, id: "content_account_id", value: current_account.id
    = f.text_field :user_name, id: "content_user_name", label: "User Name:", readonly: true, value: current_user_display
    = f.text_field :account_name, id: "content_account_name", label: "Account Name:", readonly: true, value: current_account_display
    / Fields below are editable
    = f.text_field :content_text, id: "content_text", label: "Content:", value: args.content_text
    = f.form_group :private do
      = f.check_box :private, id: "content_private", label: "Private?", value: args.private
    = f.submit 'Edit', class:'right'
= content_for :modal_footer do
  emrBear&trade;