%h3 Users List
= link_to 'New User', '/login/new', remote: true
%br
%br
-# Sample ruby comment
- @users.each do |user|
  = user.name
  = '*,' if is_user_logged_in?(user)
  - user.accounts.each do |account|
    = account.name
    = '(owner),' if is_user_account_owner?(user, account)
  %br

