%h3 User Signup
= form_for :user, url: users_url, method: "post" do |f|
  = f.label :name, "Name:"
  = f.text_field :name
  %br
  = f.label :two_fa_enabled, "Use Two-factor authentication"
  = f.check_box :two_fa_enabled
  %br
  = f.label :country_code, "Country Code"
  = f.text_field :country_code
  US is code 1
  %br
  = f.label :cell_phone_number, "Cell"
  = f.text_field :cell_phone_number
  (xxx-xxx-xxxx)
  %br
  = f.label :email, "Email:"
  = f.text_field :email
  %br
  = f.label :is_email_enabled, "Is Email Enabled?"
  = f.check_box :is_email_enabled
  %br
  = f.label :password, "Password:"
  = f.password_field :password
  %br
  = f.label :password_confirmation, "Password Confirmation:"
  = f.password_field :password_confirmation
  %br
  = f.submit
-if @user.errors.full_messages
  - @user.errors.full_messages.each do |e|
    = e
