= content_for :modal_header do
  User Create
= content_for :modal_body do
  #user_create_form
  = bootstrap_form_for('user', url: 'user/create', remote: true) do |f|
    = f.text_field :name, id: "user_name", label: "User Name:"
    = f.email_field :email, id: "email", label: "Email:"
    = f.password_field :password, id: "password", label: "Password:"
    = f.password_field :password_confirmation, id: "password_confirmation", label: "Password Confirmation"
    = f.submit 'Create', class:'right'
= content_for :modal_footer do
  emrBear&trade;