!!! 5
%html
  %head
    %title Emrbear Accounts
    = render partial: "layouts/boilerplate"
  %body
    .notice
      = flash[:notice]
    #current_user
      = current_user_display
    #current_account
      - if current_account
        Current Account
        = current_account.name
    %nav{class: "navbar navbar-toggleable-md navbar-light", style: "background-color: #00cc99;"}
      %button{class: "navbar-toggler navbar-toggler-right", type: "button", 'data-toggle': "collapse", 'data-target': "#navbarNavDropdown", 'aria-controls': "navbarNavDropdown", 'aria-expanded': "false", 'aria-label': "Toggle navigation"}
        %span{class: "navbar-toggler-icon"}
      %a{class: "navbar-brand", href: "#"}
        EMRbear Accounts
      .collapse.navbar-collapse{id: "navbarNavDropdown"}
        / mr-auto forces the navbar-text below to the right
        %ul{class: "navbar-nav mr-auto"}
          %li{class: "nav-item dropdown"}
            %a{class: "nav-link dropdown-toggle", href: "http://example.com", id: "navbarDropdownMenuLink", 'data-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false"}
              Users
            .dropdown-menu{'aria-labelledby': "navbarDropdownMenuLink"}
              %a{id: "a_user_create", class: "dropdown-item", href: users_new_url, 'data-remote': true }
                Create
              %a{id: "a_user_list", class: "dropdown-item", href: users_url}
                List
              %a{id: "a_user_login", class: "dropdown-item", href: login_new_url, 'data-remote': true }
                Login
              %a{id: "a_user_verify", class: "dropdown-item", href: login_edit_url, 'data-remote': true }
                Verify Token
              %a{id: "a_user_logout", class: "dropdown-item", href: authentication_logout_form_url, 'data-remote': true }
                Logout
              %a{id: "a_user_emails", class: "dropdown-item", href: emails_new_url}
                Send Email
          %li{class: "nav-item dropdown"}
            %a{class: "nav-link dropdown-toggle", href: "http://example.com", id: "navbarDropdownMenuLink", 'data-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false"}
              Accounts
            .dropdown-menu{'aria-labelledby': "navbarDropdownMenuLink"}
              %a{class: "dropdown-item", href: accounts_new_url, 'data-remote': true}
                Create
              %a{class: "dropdown-item", href: accounts_url}
                List
              %a{class: "dropdown-item", href: accounts_select_url, 'data-remote': true}
                Select
              %a{class: "dropdown-item", href: accounts_invite_url, 'data-remote': true}
                Invite
          %li{class: "nav-item dropdown"}
            %a{class: "nav-link dropdown-toggle", href: "", id: "navbarDropdownMenuLink", 'data-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false"}
              Content
            .dropdown-menu{'aria-labelledby': "navbarDropdownMenuLink"}
              %a{class: "dropdown-item", href: contents_url}
                List
              %a{class: "dropdown-item", href: contents_new_url, 'data-remote': true}
                Post
        %span{class: "navbar-text"}
          = session['current_user'].nil? ? '' : session['current_user']['name']
        %span{class: "navbar-text"}
          = is_admin? ? ' ADMIN': ''
        / Multi-Modal, from Wylan   FGJ pulled .fade after .modal below; fixes transitioning error
        #ajax-modal.modal{:tabindex => "-1", :role => 'dialog'}
          .modal-dialog{role: 'document'}
            .modal-content
    = yield
