= content_for :modal_header do
  Account Invite
= content_for :modal_body do
  #acct_invite_form
  = bootstrap_form_tag(url: 'account/verify', remote: true) do |f|
    = f.select :user, User.all.collect { |u| [ u.name, u.id ] }, id: "user", label: "User:"
    = f.select :account, Account.all.collect { |a| [ a.name, a.id ] }, id: "account", label: "Account:"
    = f.submit 'Invite', class:'right'
= content_for :modal_footer do
  emrBear&trade;